<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vscing.model.mapper.AdminUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vscing.model.entity.AdminUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="nickname" property="nickname" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="avatar" property="avatar" />
        <result column="notes" property="notes" />
        <result column="status" property="status" />
        <result column="last_ip" property="lastIp" />
        <result column="login_at" property="loginAt" jdbcType="TIMESTAMP" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
        <result column="updated_by" property="updatedBy" />
        <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP" />
        <result column="deleted_by" property="deletedBy" />
    </resultMap>

    <!-- 定义一个SQL片段，用于指定表名 -->
    <sql id="tableName">
        vscing_admin_user
    </sql>
    <sql id="adminUserOrganizationTableName">
        vscing_admin_user_organization
    </sql>

    <!-- 查询用户列表 -->
    <select id="getList" resultType="com.vscing.model.vo.AdminUserListVo">
        SELECT
        u.*
        FROM <include refid="tableName" /> u
        LEFT JOIN <include refid="adminUserOrganizationTableName" /> uo ON u.id = uo.admin_user_id
        <where>
            u.deleted_at IS NULL
            <if test="record.username != null and record.username.trim() != ''">
                AND u.username LIKE CONCAT('%', #{record.username}, '%')
            </if>
            <if test="record.phone != null and record.phone.trim() != ''">
                AND u.phone LIKE CONCAT('%', #{record.phone}, '%')
            </if>
            <if test="record.startDate != null">
                AND u.created_at <![CDATA[ >= ]]> #{record.startDate, jdbcType=TIMESTAMP}
            </if>
            <if test="record.endDate != null">
                AND u.created_at <![CDATA[ <= ]]> #{record.endDate, jdbcType=TIMESTAMP}
            </if>
            <if test="record.organizationId != null">
                AND uo.organization_id = #{record.organizationId, jdbcType=BIGINT}
            </if>
        </where>
    </select>

    <!-- 根据 username 或 phone 查询用户 -->
    <select id="selectByUsername" parameterType="String" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" />
        WHERE  (username = #{username,jdbcType=VARCHAR} or phone = #{phone,jdbcType=VARCHAR})
        and deleted_at IS NULL
    </select>

    <!-- 根据 ID 查询用户 -->
    <select id="selectById" parameterType="long" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" /> WHERE id = #{id,jdbcType=BIGINT} and deleted_at IS NULL
    </select>

    <!-- 插入用户信息 -->
    <insert id="insert" parameterType="com.vscing.model.dto.AdminUserSaveDto" useGeneratedKeys="false" keyProperty="id">
        INSERT INTO <include refid="tableName" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="phone != null">phone,</if>
            <if test="password != null">password,</if>
            <if test="lastIp != null">last_ip,</if>
            <if test="createdBy != null">created_by</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id, jdbcType=BIGINT},</if>
            <if test="username != null">#{username, jdbcType=VARCHAR},</if>
            <if test="phone != null">#{phone, jdbcType=VARCHAR},</if>
            <if test="password != null">#{password, jdbcType=VARCHAR},</if>
            <if test="lastIp != null">#{lastIp, jdbcType=VARCHAR},</if>
            <if test="createdBy != null">#{createdBy, jdbcType=BIGINT}</if>
        </trim>
    </insert>

    <!-- 根据 ID 硬删除用户 -->
    <delete id="deleteById" parameterType="long">
        DELETE FROM <include refid="tableName" /> WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <!-- 根据 ID 软删除用户 -->
    <update id="softDeleteById" parameterType="map">
        UPDATE <include refid="tableName" />
        SET deleted_at = NOW(),
            deleted_by = #{deleterId, jdbcType=BIGINT}
        WHERE id = #{id, jdbcType=BIGINT}
    </update>

    <!-- 更新用户信息 -->
    <update id="update" parameterType="com.vscing.model.dto.AdminUserSaveDto">
        UPDATE <include refid="tableName" />
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy, jdbcType=BIGINT}
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

</mapper>
