<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vscing.model.mapper.AdminUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vscing.model.entity.AdminUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="nickname" property="nickname" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="avatar" property="avatar" />
        <result column="notes" property="notes" />
        <result column="status" property="status" />
        <result column="last_ip" property="lastIp" />
        <result column="login_at" property="loginAt" jdbcType="TIMESTAMP" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
        <result column="updated_by" property="updatedBy" />
        <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP" />
        <result column="deleted_by" property="deletedBy" />
    </resultMap>

    <!-- 查询用户列表 -->
    <select id="getList" resultMap="BaseResultMap">
        SELECT * FROM vscing_admin_user
        <where>
            deleted_at IS NULL
            <if test="record.username != null and record.username.trim() != ''">
                AND username LIKE CONCAT('%', #{record.username}, '%')
            </if>
            <if test="record.phone != null and record.phone.trim() != ''">
                AND phone LIKE CONCAT('%', #{record.phone}, '%')
            </if>
            <if test="record.startDate != null">
                AND created_at <![CDATA[ >= ]]> #{record.startDate, jdbcType=TIMESTAMP}
            </if>
            <if test="record.endDate != null">
                AND created_at <![CDATA[ <= ]]> #{record.endDate, jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!-- 根据 username 查询用户 -->
    <select id="selectByUsername" parameterType="String" resultMap="BaseResultMap">
        SELECT * FROM vscing_admin_user WHERE username = #{username,jdbcType=VARCHAR} and deleted_at IS NULL
    </select>

    <!-- 根据 ID 查询用户 -->
    <select id="selectById" parameterType="long" resultMap="BaseResultMap">
        SELECT * FROM vscing_admin_user WHERE id = #{id,jdbcType=BIGINT} and deleted_at IS NULL
    </select>

    <!-- 插入用户信息 -->
    <insert id="insert" parameterType="com.vscing.model.entity.AdminUser" useGeneratedKeys="false" keyProperty="id">
        INSERT INTO vscing_admin_user(id, username, password, last_ip, created_by)
        values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{lastIp,jdbcType=VARCHAR}, #{createdBy,jdbcType=BIGINT})
    </insert>

    <!-- 根据 ID 硬删除用户 -->
    <delete id="deleteById" parameterType="long">
        DELETE FROM vscing_admin_user WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <!-- 根据 ID 软删除用户 -->
    <update id="softDeleteById" parameterType="long">
        UPDATE vscing_admin_user SET deleted_at = NOW() WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <!-- 更新用户信息 -->
    <update id="update" parameterType="com.vscing.model.entity.AdminUser">
        UPDATE vscing_admin_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="notes != null">
                notes = #{notes,jdbcType=VARCHAR},
            </if>
            <if test="loginAt != null">
                login_at = #{loginAt,jdbcType=TIMESTAMP},
            </if>
            <if test="lastIp != null">
                last_ip = #{lastIp,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

</mapper>
