<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vscing.model.mapper.CinemaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vscing.model.entity.Cinema">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="tp_cinema_id" property="tpCinemaId" jdbcType="BIGINT" />
        <result column="supplier_id" property="supplierId" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="province_id" property="provinceId" jdbcType="BIGINT" />
        <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
        <result column="city_id" property="cityId" jdbcType="BIGINT" />
        <result column="city_name" property="cityName" jdbcType="VARCHAR" />
        <result column="district_id" property="districtId" jdbcType="BIGINT" />
        <result column="district_name" property="districtName" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="lng" property="lng" jdbcType="DOUBLE" />
        <result column="lat" property="lat" jdbcType="DOUBLE" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="created_by" property="createdBy" jdbcType="BIGINT" />
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
        <result column="updated_by" property="updatedBy" jdbcType="BIGINT" />
        <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP" />
        <result column="deleted_by" property="deletedBy" jdbcType="BIGINT" />
    </resultMap>

    <!-- 定义一个SQL片段，用于指定表名 -->
    <sql id="tableName">
        vscing_cinema
    </sql>
    <sql id="supplierTableName">
        vscing_supplier
    </sql>

    <!-- 查询用户列表 -->
    <select id="getList" resultMap="BaseResultMap">
        SELECT c.*, s.name as supplierName FROM <include refid="tableName" /> c
        LEFT JOIN <include refid="supplierTableName" /> s ON c.supplier_id = s.id
        <where>
            c.deleted_at IS NULL
            <if test="provinceId != null">
                AND c.province_id = #{provinceId}
            </if>
            <if test="cityId != null">
                AND c.city_id = #{cityId}
            </if>
            <if test="districtId != null">
                AND c.district_id = #{districtId}
            </if>
            <if test="name != null">
                AND c.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="status != null and status != 0">
                AND c.status = #{status}
            </if>
            <if test="supplierName != null">
                AND s.name LIKE CONCAT('%', #{supplierName}, '%')
            </if>
        </where>
    </select>

    <!-- 根据 ID 查询 -->
    <select id="selectById" parameterType="long" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" /> WHERE id = #{id,jdbcType=BIGINT} and deleted_at IS NULL
    </select>

    <!-- 根据 cinemaId 查询 -->
    <select id="selectByTpCinemaId" parameterType="long" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" /> WHERE tp_cinema_id = #{tpCinemaId, jdbcType=BIGINT} and deleted_at IS NULL
    </select>

    <!-- 根据ID查询详情并计算距离 -->
    <select id="selectByIdWithDistance" parameterType="map" resultType="com.vscing.model.vo.CinemaApiDetailsVo">
        SELECT
            id,
            `name`,
            province_name as provinceName,
            city_name as cityName,
            district_name as districtName,
            address,
            lat,
            lng,
            phone,
            status,
            (
                6371 * acos(
                    cos(radians(#{lat, jdbcType=DECIMAL})) *
                    cos(radians(lat)) *
                    cos(radians(lng) - radians(#{lng, jdbcType=DECIMAL})) +
                    sin(radians(#{lat, jdbcType=DECIMAL})) *
                    sin(radians(lat))
                )
            ) AS distance
        FROM <include refid="tableName" />
        WHERE id = #{id, jdbcType=BIGINT} and deleted_at IS NULL
    </select>

    <!-- 插入信息 -->
    <insert id="insert" parameterType="com.vscing.model.entity.Cinema">
        INSERT INTO <include refid="tableName" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="tpCinemaId != null">tp_cinema_id,</if>
            <if test="supplierId != null">supplier_id,</if>
            <if test="name != null">`name`,</if>
            <if test="provinceId != null">province_id,</if>
            <if test="provinceName != null">province_name,</if>
            <if test="cityId != null">city_id,</if>
            <if test="cityName != null">city_name,</if>
            <if test="districtId != null">district_id,</if>
            <if test="districtName != null">district_name,</if>
            <if test="address != null">address,</if>
            <if test="lng != null">lng,</if>
            <if test="lat != null">lat,</if>
            <if test="phone != null">phone,</if>
            <if test="createdBy != null">created_by</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id, jdbcType=BIGINT},</if>
            <if test="tpCinemaId != null">#{tpCinemaId, jdbcType=BIGINT},</if>
            <if test="supplierId != null">#{supplierId, jdbcType=BIGINT},</if>
            <if test="name != null">#{name,jdbcType=VARCHAR},</if>
            <if test="provinceId != null">#{provinceId, jdbcType=BIGINT},</if>
            <if test="provinceName != null">#{provinceName, jdbcType=VARCHAR},</if>
            <if test="cityId != null">#{cityId, jdbcType=BIGINT},</if>
            <if test="cityName != null">#{cityName, jdbcType=VARCHAR},</if>
            <if test="districtId != null">#{districtId, jdbcType=BIGINT},</if>
            <if test="districtName != null">#{districtName, jdbcType=VARCHAR},</if>
            <if test="address != null">#{address,jdbcType=VARCHAR},</if>
            <if test="lng != null">#{lng,jdbcType=DOUBLE},</if>
            <if test="lat != null">#{lat,jdbcType=DOUBLE},</if>
            <if test="phone != null">#{phone,jdbcType=VARCHAR},</if>
            <if test="createdBy != null">#{createdBy, jdbcType=BIGINT}</if>
        </trim>
    </insert>

    <!-- 更新信息 -->
    <update id="update" parameterType="com.vscing.model.entity.Cinema">
        UPDATE <include refid="tableName" />
        <set>
            <if test="status != null">status = #{status,jdbcType=TINYINT},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy, jdbcType=BIGINT}</if>
        </set>
        WHERE id = #{id, jdbcType=BIGINT}
    </update>

    <!-- 根据 ID 软删除用户 -->
    <update id="softDeleteById" parameterType="map">
        UPDATE <include refid="tableName" />
        SET deleted_at = NOW(),
        deleted_by = #{deleterId, jdbcType=BIGINT}
        WHERE id = #{id, jdbcType=BIGINT}
    </update>

    <!-- 批量插入或更新信息 -->
    <insert id="batchUpsert" parameterType="java.util.List">
        INSERT INTO <include refid="tableName" /> (
            id, supplier_id, tp_cinema_id, `name`, address, lng, lat, province_id, province_name, city_id,
            city_name, phone, district_id, district_name
        ) VALUES
        <foreach collection="list" item="record" separator=",">
            (
            #{record.id}, #{record.supplierId}, #{record.tpCinemaId}, #{record.name}, #{record.address},
            #{record.lng}, #{record.lat}, #{record.provinceId}, #{record.provinceName}, #{record.cityId},
            #{record.cityName}, #{record.phone}, #{record.districtId}, #{record.districtName}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        supplier_id = VALUES(supplier_id),
        tp_cinema_id = VALUES(tp_cinema_id),
        `name` = VALUES(`name`),
        address = VALUES(address),
        lng = VALUES(lng),
        lat = VALUES(lat),
        province_id = VALUES(province_id),
        province_name = VALUES(province_name),
        city_id = VALUES(city_id),
        city_name = VALUES(city_name),
        phone = VALUES(phone),
        district_id = VALUES(district_id),
        district_name = VALUES(district_name)
    </insert>

    <!-- 开放平台影院列表 -->
    <select id="getPlatformList" resultType="com.vscing.model.platform.QueryCinema">
        SELECT
        id as cinema_id,
        name as cinema_name,
        address as cinema_address,
        phone as cinema_phone,
        province_id,
        city_id,
        district_id,
        lng as longitude,
        lat as latitude
        FROM <include refid="tableName" />
        <where>
            <if test="cityId != null">
                AND city_id = #{cityId}
            </if>
            <if test="districtId != null">
                AND district_id = #{districtId}
            </if>
            AND deleted_at IS NULL
        </where>
    </select>

    <!-- 开放平台影院详情 -->
    <select id="getPlatformInfo" parameterType="long" resultType="com.vscing.model.platform.QueryCinemaShow">
        SELECT
        id as cinema_id,
        name as cinema_name,
        address as cinema_address,
        lng as longitude,
        lat as latitude
        FROM <include refid="tableName" />
        WHERE id = #{id,jdbcType=BIGINT} and deleted_at IS NULL
    </select>

</mapper>
