<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vscing.model.mapper.CouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vscing.model.entity.Coupon">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="sales_amount" property="salesAmount" jdbcType="DECIMAL" />
        <result column="face_amount" property="faceAmount" jdbcType="DECIMAL" />
        <result column="type" property="type" jdbcType="TINYINT" />
        <result column="attr" property="attr" jdbcType="TINYINT" />
        <result column="source" property="source" jdbcType="TINYINT" />
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
        <result column="tags" property="tags" jdbcType="VARCHAR" />
        <result column="condition" property="condition" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="reason" property="reason" jdbcType="TINYINT" />
        <result column="verify_at" property="verifyAt" jdbcType="TIMESTAMP" />
        <result column="cancel_at" property="cancelAt" jdbcType="TIMESTAMP" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="created_by" property="createdBy" jdbcType="BIGINT" />
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
        <result column="updated_by" property="updatedBy" jdbcType="BIGINT" />
        <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP" />
        <result column="deleted_by" property="deletedBy" jdbcType="BIGINT" />
    </resultMap>

    <!-- 定义一个SQL片段，用于指定表名 -->
    <sql id="tableName">
        vscing_coupon
    </sql>
    <sql id="userTableName">
        vscing_user
    </sql>
    <sql id="orderTableName">
        vscing_order
    </sql>
    <sql id="orderDetailTableName">
        vscing_order_detail
    </sql>

    <!-- 列表 -->
    <select id="getList" resultMap="BaseResultMap">
        SELECT c.* FROM <include refid="tableName" /> AS c
        LEFT JOIN <include refid="orderTableName" /> AS o ON c.id = o.coupon_id
        <where>
            <if test="orderSn != null">
                AND o.order_sn = #{orderSn, jdbcType=VARCHAR}
            </if>
            <if test="createStartTime != null">
                AND o.created_at <![CDATA[ >= ]]> #{createStartTime, jdbcType=TIMESTAMP}
            </if>
            <if test="createEndTime != null">
                AND o.created_at <![CDATA[ <= ]]> #{createEndTime, jdbcType=TIMESTAMP}
            </if>
            <if test="status != null">
                AND c.status = #{status, jdbcType=TINYINT}
            </if>
            <if test="attr != null">
                AND c.attr = #{attr, jdbcType=TINYINT}
            </if>
            <if test="reason != null">
                AND c.reason = #{reason, jdbcType=TINYINT}
            </if>
            <if test="title != null">
                AND c.title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="phone != null">
                AND c.phone LIKE CONCAT('%', #{phone}, '%')
            </if>
            <if test="code != null">
                AND c.code LIKE CONCAT('%', #{code}, '%')
            </if>
            <if test="startTime != null">
                AND c.created_at <![CDATA[ >= ]]> #{startTime, jdbcType=TIMESTAMP}
            </if>
            <if test="endTime != null">
                AND c.created_at <![CDATA[ <= ]]> #{endTime, jdbcType=TIMESTAMP}
            </if>
            <if test="cancelStartTime != null">
                AND c.updated_at <![CDATA[ >= ]]> #{cancelStartTime, jdbcType=TIMESTAMP}
            </if>
            <if test="cancelEndTime != null">
                AND c.updated_at <![CDATA[ <= ]]> #{cancelEndTime, jdbcType=TIMESTAMP}
            </if>
            AND c.deleted_at IS NULL
        </where>
        ORDER BY created_at DESC
    </select>

    <!-- 我的优惠券列表 -->
    <select id="selectApiList" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" />
        <where>
            <if test="userId != null">
                AND user_id = #{userId, jdbcType=BIGINT}
            </if>
            <if test="statusType != null">
                <choose>
                    <when test="statusType == 1">
                        AND status = 1
                        AND end_time <![CDATA[ >= ]]> NOW()
                    </when>
                    <when test="statusType == 2">
                        AND ((status IN (2,3)) OR (status = 1 AND end_time <![CDATA[ < ]]> NOW()))
                    </when>
                </choose>
            </if>
            AND deleted_at IS NULL
        </where>
        ORDER BY created_at DESC
    </select>

    <!-- 插入信息 -->
    <insert id="insert" parameterType="com.vscing.model.entity.Coupon">
        INSERT INTO <include refid="tableName" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="title != null">title,</if>
            <if test="phone != null">phone,</if>
            <if test="code != null">code,</if>
            <if test="salesAmount != null">sales_amount,</if>
            <if test="faceAmount != null">face_amount,</if>
            <if test="type != null">type,</if>
            <if test="attr != null">attr,</if>
            <if test="source != null">source,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="tags != null">tags,</if>
            <if test="condition != null">`condition`,</if>
            <if test="status != null">status,</if>
            <if test="reason != null">reason,</if>
            <if test="verifyAt != null">verify_at,</if>
            <if test="cancelAt != null">cancel_at,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdAt != null">created_at,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id, jdbcType=BIGINT},</if>
            <if test="userId != null">#{userId, jdbcType=BIGINT},</if>
            <if test="title != null">#{title, jdbcType=VARCHAR},</if>
            <if test="phone != null">#{phone, jdbcType=VARCHAR},</if>
            <if test="code != null">#{code, jdbcType=VARCHAR},</if>
            <if test="salesAmount != null">#{salesAmount, jdbcType=DECIMAL},</if>
            <if test="faceAmount != null">#{faceAmount, jdbcType=DECIMAL},</if>
            <if test="type != null">#{type, jdbcType=TINYINT},</if>
            <if test="attr != null">#{attr, jdbcType=TINYINT},</if>
            <if test="source != null">#{source, jdbcType=TINYINT},</if>
            <if test="startTime != null">#{startTime, jdbcType=TIMESTAMP},</if>
            <if test="endTime != null">#{endTime, jdbcType=TIMESTAMP},</if>
            <if test="tags != null">#{tags, jdbcType=VARCHAR},</if>
            <if test="condition != null">#{condition, jdbcType=VARCHAR},</if>
            <if test="status != null">#{status, jdbcType=TINYINT},</if>
            <if test="reason != null">#{reason, jdbcType=TINYINT},</if>
            <if test="verifyAt != null">#{verifyAt, jdbcType=TIMESTAMP},</if>
            <if test="cancelAt != null">#{cancelAt, jdbcType=TIMESTAMP},</if>
            <if test="createdBy != null">#{createdBy, jdbcType=BIGINT},</if>
            <if test="createdAt != null">#{createdAt, jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>

    <!-- 批量插入 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO <include refid="tableName" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="list[0].id != null">id,</if>
            <if test="list[0].userId != null">user_id,</if>
            <if test="list[0].title != null">title,</if>
            <if test="list[0].phone != null">phone,</if>
            <if test="list[0].code != null">code,</if>
            <if test="list[0].salesAmount != null">sales_amount,</if>
            <if test="list[0].faceAmount != null">face_amount,</if>
            <if test="list[0].type != null">type,</if>
            <if test="list[0].attr != null">attr,</if>
            <if test="list[0].source != null">source,</if>
            <if test="list[0].startTime != null">start_time,</if>
            <if test="list[0].endTime != null">end_time,</if>
            <if test="list[0].tags != null">tags,</if>
            <if test="list[0].condition != null">`condition`,</if>
            <if test="list[0].status != null">status,</if>
            <if test="list[0].reason != null">reason,</if>
            <if test="list[0].verifyAt != null">verify_at,</if>
            <if test="list[0].cancelAt != null">cancel_at,</if>
            <if test="list[0].createdBy != null">created_by,</if>
            <if test="list[0].createdAt != null">created_at,</if>
        </trim>
        VALUES
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.id != null">#{item.id, jdbcType=BIGINT},</if>
                <if test="item.userId != null">#{item.userId, jdbcType=BIGINT},</if>
                <if test="item.title != null">#{item.title, jdbcType=VARCHAR},</if>
                <if test="item.phone != null">#{item.phone, jdbcType=VARCHAR},</if>
                <if test="item.code != null">#{item.code, jdbcType=VARCHAR},</if>
                <if test="item.salesAmount != null">#{item.salesAmount, jdbcType=DECIMAL},</if>
                <if test="item.faceAmount != null">#{item.faceAmount, jdbcType=DECIMAL},</if>
                <if test="item.type != null">#{item.type, jdbcType=TINYINT},</if>
                <if test="item.attr != null">#{item.attr, jdbcType=TINYINT},</if>
                <if test="item.source != null">#{item.source, jdbcType=TINYINT},</if>
                <if test="item.startTime != null">#{item.startTime, jdbcType=TIMESTAMP},</if>
                <if test="item.endTime != null">#{item.endTime, jdbcType=TIMESTAMP},</if>
                <if test="item.tags != null">#{item.tags, jdbcType=VARCHAR},</if>
                <if test="item.condition != null">#{item.condition, jdbcType=VARCHAR},</if>
                <if test="item.status != null">#{item.status, jdbcType=TINYINT},</if>
                <if test="item.reason != null">#{item.reason, jdbcType=TINYINT},</if>
                <if test="item.verifyAt != null">#{item.verifyAt, jdbcType=TIMESTAMP},</if>
                <if test="item.cancelAt != null">#{item.cancelAt, jdbcType=TIMESTAMP},</if>
                <if test="item.createdBy != null">#{item.createdBy, jdbcType=BIGINT},</if>
                <if test="item.createdAt != null">#{item.createdAt, jdbcType=TIMESTAMP},</if>
            </trim>
        </foreach>
    </insert>

    <!-- 作废 -->
    <update id="updateCouponCancel" parameterType="map">
        UPDATE <include refid="tableName" />
        <set>
            status = 4,
            <if test="reason != null">
                reason = #{reason, jdbcType=TINYINT},
            </if>
            <if test="cancelAt != null">
                cancel_at = #{cancelAt, jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy, jdbcType=BIGINT}
            </if>
        </set>
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id, jdbcType=BIGINT}
        </foreach>
        AND status = 1
        AND deleted_at IS NULL
    </update>

    <!-- 核销 -->
    <update id="updateStatus" parameterType="map">
        UPDATE <include refid="tableName" />
        <set>
            <if test="status != null">status = #{status, jdbcType=TINYINT},</if>
            <if test="verifyAt == null">verify_at = NULL,</if>
            <if test="verifyAt != null">verify_at = #{verifyAt, jdbcType=TIMESTAMP}</if>
        </set>
        WHERE id = #{id, jdbcType=BIGINT}
    </update>

    <!-- 取消 -->
    <update id="batchCancel">
        UPDATE <include refid="tableName" />
        SET status = 3
        WHERE status = 1 AND end_time <![CDATA[ < ]]> NOW();
    </update>

    <!-- 根据 ID 查询 -->
    <select id="selectById" parameterType="long" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" /> WHERE id = #{id, jdbcType=BIGINT} and deleted_at IS NULL LIMIT 1
    </select>

    <!-- 校验优惠券是否还存在 -->
    <select id="verifyCoupon" parameterType="map" resultMap="BaseResultMap">
        SELECT *
        FROM <include refid="tableName" />
        <where>
            <if test="couponId != null">
                AND id = #{couponId, jdbcType=BIGINT}
            </if>
            <if test="userId != null">
                AND user_id = #{userId, jdbcType=BIGINT}
            </if>
            AND status = 1
            AND start_time <![CDATA[ <= ]]> NOW()
            AND end_time <![CDATA[ >= ]]> NOW()
            AND deleted_at IS NULL
        </where>
        LIMIT 1
    </select>

    <!-- 查询详情 -->
    <select id="selectByPhoneCode" resultType="com.vscing.model.vo.CouponApiDetailsVo">
        SELECT * FROM <include refid="tableName" />
        WHERE phone = #{phone, jdbcType=VARCHAR}
        and code = #{code, jdbcType=VARCHAR}
        and deleted_at IS NULL
    </select>

</mapper>
