<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vscing.model.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vscing.model.entity.Menu">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="parent_id" property="parentId" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="system" property="system" jdbcType="VARCHAR" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
        <result column="path" property="path" jdbcType="VARCHAR" />
        <result column="component" property="component" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="sort" property="sort" jdbcType="TINYINT" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="created_by" property="createdBy" jdbcType="BIGINT" />
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
        <result column="updated_by" property="updatedBy" jdbcType="BIGINT" />
        <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP" />
        <result column="deleted_by" property="deletedBy" jdbcType="BIGINT" />
    </resultMap>

    <!-- 定义一个SQL片段，用于指定表名 -->
    <sql id="tableName">
        vscing_menu
    </sql>
    <sql id="roleMenuTableName">
        vscing_role_menu
    </sql>

    <!-- 查询用户列表 -->
    <select id="getList" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" />
        <where>
            deleted_at IS NULL
            <if test="name != null">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
        ORDER BY `sort` DESC, `id` ASC
    </select>

    <!-- 根据 ID 查询 -->
    <select id="selectById" parameterType="long" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" /> WHERE id = #{id,jdbcType=BIGINT} and deleted_at IS NULL
    </select>

    <!-- 插入信息 -->
    <insert id="insert" parameterType="com.vscing.model.entity.Menu">
        INSERT INTO <include refid="tableName" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="name != null">`name`,</if>
            <if test="system != null">`system`,</if>
            <if test="icon != null">icon,</if>
            <if test="path != null">`path`,</if>
            <if test="component != null">component,</if>
            <if test="status != null">status,</if>
            <if test="createdBy != null">created_by</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id, jdbcType=BIGINT},</if>
            <if test="parentId != null">#{parentId, jdbcType=BIGINT},</if>
            <if test="name != null">#{name, jdbcType=VARCHAR},</if>
            <if test="system != null">#{system, jdbcType=VARCHAR},</if>
            <if test="icon != null">#{icon, jdbcType=VARCHAR},</if>
            <if test="path != null">#{path, jdbcType=VARCHAR},</if>
            <if test="component != null">#{component, jdbcType=VARCHAR},</if>
            <if test="status != null">#{status, jdbcType=TINYINT},</if>
            <if test="createdBy != null">#{createdBy, jdbcType=BIGINT}</if>
        </trim>
    </insert>

    <!-- 更新信息 -->
    <update id="update" parameterType="com.vscing.model.entity.Menu">
        UPDATE <include refid="tableName" />
        <set>
            <if test="parentId != null">parent_id = #{parentId, jdbcType=BIGINT},</if>
            <if test="name != null">`name` = #{name, jdbcType=VARCHAR},</if>
            <if test="system != null">`system` = #{system, jdbcType=VARCHAR},</if>
            <if test="icon != null">icon = #{icon, jdbcType=VARCHAR},</if>
            <if test="component != null">component = #{component, jdbcType=VARCHAR},</if>
            <if test="path != null">`path` = #{path, jdbcType=VARCHAR},</if>
            <if test="status != null">status = #{status, jdbcType=TINYINT},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy, jdbcType=BIGINT}</if>
        </set>
        WHERE id = #{id, jdbcType=BIGINT}
    </update>

    <!-- 根据 ID 软删除用户 -->
    <update id="softDeleteById" parameterType="map">
        UPDATE <include refid="tableName" />
        SET deleted_at = NOW(),
        deleted_by = #{deleterId, jdbcType=BIGINT}
        WHERE id = #{id, jdbcType=BIGINT}
    </update>

    <!-- 根据 角色ID 查询关联菜单信息 -->
    <select id="getMenusByRoleId" parameterType="long" resultMap="BaseResultMap">
        SELECT menu.*
        FROM <include refid="tableName" /> menu
        INNER JOIN <include refid="roleMenuTableName" /> rm ON menu.id = rm.menu_id
        WHERE rm.role_id = #{id, jdbcType=BIGINT}
        ORDER BY menu.`sort` DESC, menu.`id` ASC
    </select>

    <!-- 根据 角色ID 查询关联菜单信息 -->
    <select id="getMenusByRoleIds" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT menu.*
        FROM <include refid="tableName" /> menu
        INNER JOIN <include refid="roleMenuTableName" /> rm ON menu.id = rm.menu_id
        WHERE rm.role_id IN
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId, jdbcType=BIGINT}
        </foreach>
        ORDER BY menu.`sort` DESC, menu.`id` ASC
    </select>

    <!-- 根据 角色ID 删除关联信息 -->
    <delete id="deleteMenusByRoleId" parameterType="long">
        DELETE FROM <include refid="roleMenuTableName" /> WHERE role_id=#{id}
    </delete>

    <!-- 根据 角色ID 增加关联信息 -->
    <insert id="insertMenusBatch" parameterType="map">
        INSERT INTO <include refid="roleMenuTableName" /> (role_id, menu_id)
        VALUES
        <foreach collection="menuIds" item="menuId" separator=",">
            (#{id}, #{menuId})
        </foreach>
    </insert>

</mapper>
