<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vscing.model.mapper.MerchantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vscing.model.entity.Merchant">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="product_type" property="productType" jdbcType="TINYINT" />
        <result column="balance" property="balance" jdbcType="DECIMAL" />
        <result column="total_recharge" property="totalRecharge" jdbcType="DECIMAL" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="contacts" property="contacts" jdbcType="VARCHAR" />
        <result column="business_license" property="businessLicense" jdbcType="VARCHAR" />
        <result column="uscc" property="uscc" jdbcType="VARCHAR" />
        <result column="legal_name" property="legalName" jdbcType="VARCHAR" />
        <result column="id_card" property="idCard" jdbcType="VARCHAR" />
        <result column="id_card_front" property="idCardFront" jdbcType="VARCHAR" />
        <result column="id_card_back" property="idCardBack" jdbcType="VARCHAR" />
        <result column="last_ip" property="lastIp" jdbcType="VARCHAR" />
        <result column="login_at" property="loginAt" jdbcType="TIMESTAMP" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="token" property="token" jdbcType="VARCHAR" />
        <result column="secret_key" property="secretKey" jdbcType="VARCHAR" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="created_by" property="createdBy" jdbcType="BIGINT" />
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
        <result column="updated_by" property="updatedBy" jdbcType="BIGINT" />
        <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP" />
        <result column="deleted_by" property="deletedBy" jdbcType="BIGINT" />
    </resultMap>

    <!-- 定义一个SQL片段，用于指定表名 -->
    <sql id="tableName">
        vscing_merchant
    </sql>
    <sql id="orderTableName">
        vscing_order
    </sql>
    <sql id="vipOrderTableName">
        vscing_vip_order
    </sql>
    <sql id="cinemaTableName">
        vscing_cinema
    </sql>
    <sql id="movieTableName">
        vscing_movie
    </sql>

    <!-- 查询列表 -->
    <select id="getList" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" />
        <where>
            <if test="status != null and status != 0">
                AND status = #{status}
            </if>
            <if test="productType != null and productType != 0">
                AND product_type = #{productType}
            </if>
            <if test="merchantName != null">
                AND merchant_name LIKE CONCAT('%', #{merchantName}, '%')
            </if>
            AND deleted_at IS NULL
        </where>
    </select>

    <!-- 根据ID查询详情 -->
    <select id="selectById" resultMap="BaseResultMap" parameterType="long">
        SELECT * FROM
        <include refid="tableName" />
        WHERE id = #{id}
        AND deleted_at IS NULL
    </select>

    <!-- 根据merchant_name查询详情 -->
    <select id="selectByMerchantName" resultMap="BaseResultMap">
        SELECT * FROM
        <include refid="tableName" />
        WHERE merchant_name = #{MerchantName}
        AND deleted_at IS NULL
    </select>

    <!-- 根据phone查询详情 -->
    <select id="selectByMerchantPhone" resultMap="BaseResultMap">
        SELECT * FROM
        <include refid="tableName" />
        WHERE phone = #{phone}
        AND deleted_at IS NULL
    </select>

    <!-- 插入新记录 -->
    <insert id="insert" parameterType="com.vscing.model.entity.Merchant">
        INSERT INTO <include refid="tableName" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="merchantName != null">merchant_name,</if>
            <if test="password != null">password,</if>
            <if test="status != null">status,</if>
            <if test="productType != null">product_type,</if>
            <if test="balance != null">balance,</if>
            <if test="totalRecharge != null">total_recharge,</if>
            <if test="phone != null">phone,</if>
            <if test="contacts != null">contacts,</if>
            <if test="businessLicense != null">business_license,</if>
            <if test="uscc != null">uscc,</if>
            <if test="legalName != null">legal_name,</if>
            <if test="idCard != null">id_card,</if>
            <if test="idCardFront != null">id_card_front,</if>
            <if test="idCardBack != null">id_card_back,</if>
            <if test="createdBy != null">created_by</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id, jdbcType=BIGINT},</if>
            <if test="merchantName != null">#{merchantName, jdbcType=VARCHAR},</if>
            <if test="password != null">#{password, jdbcType=VARCHAR},</if>
            <if test="status != null">#{status, jdbcType=TINYINT},</if>
            <if test="productType != null">#{productType, jdbcType=TINYINT},</if>
            <if test="balance != null">#{balance, jdbcType=DECIMAL},</if>
            <if test="totalRecharge != null">#{totalRecharge, jdbcType=DECIMAL},</if>
            <if test="phone != null">#{phone, jdbcType=VARCHAR},</if>
            <if test="contacts != null">#{contacts, jdbcType=VARCHAR},</if>
            <if test="businessLicense != null">#{businessLicense, jdbcType=VARCHAR},</if>
            <if test="uscc != null">#{uscc, jdbcType=VARCHAR},</if>
            <if test="legalName != null">#{legalName, jdbcType=VARCHAR},</if>
            <if test="idCard != null">#{idCard, jdbcType=VARCHAR},</if>
            <if test="idCardFront != null">#{idCardFront, jdbcType=VARCHAR},</if>
            <if test="idCardBack != null">#{idCardBack, jdbcType=VARCHAR},</if>
            <if test="createdBy != null">#{createdBy, jdbcType=BIGINT}</if>
        </trim>
    </insert>

    <!-- 更新记录 -->
    <update id="update" parameterType="com.vscing.model.entity.Merchant">
        UPDATE <include refid="tableName" />
        <set>
            <if test="id != null">id = #{id, jdbcType=BIGINT},</if>
            <if test="merchantName != null">merchant_name = #{merchantName, jdbcType=VARCHAR},</if>
            <if test="password != null">password = #{password, jdbcType=VARCHAR},</if>
            <if test="status != null">status = #{status, jdbcType=TINYINT},</if>
            <if test="productType != null">product_type = #{productType, jdbcType=TINYINT},</if>
            <if test="balance != null">balance = #{balance, jdbcType=DECIMAL},</if>
            <if test="totalRecharge != null">total_recharge = #{totalRecharge, jdbcType=DECIMAL},</if>
            <if test="phone != null">phone = #{phone, jdbcType=VARCHAR},</if>
            <if test="contacts != null">contacts = #{contacts, jdbcType=VARCHAR},</if>
            <if test="businessLicense != null">business_license = #{businessLicense, jdbcType=VARCHAR},</if>
            <if test="uscc != null">uscc = #{uscc, jdbcType=VARCHAR},</if>
            <if test="legalName != null">legal_name = #{legalName, jdbcType=VARCHAR},</if>
            <if test="idCard != null">id_card = #{idCard, jdbcType=VARCHAR},</if>
            <if test="idCardFront != null">id_card_front = #{idCardFront, jdbcType=VARCHAR},</if>
            <if test="idCardBack != null">id_card_back = #{idCardBack, jdbcType=VARCHAR},</if>
            <if test="lastIp != null">last_ip = #{lastIp, jdbcType=VARCHAR},</if>
            <if test="loginAt != null">login_at = #{loginAt, jdbcType=TIMESTAMP},</if>
            <if test="version != null">version = #{version, jdbcType=INTEGER},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy, jdbcType=BIGINT}</if>
        </set>
        WHERE id = #{id, jdbcType=BIGINT}
    </update>

    <!-- 更新记录乐关锁 -->
    <update id="updateVersion" parameterType="com.vscing.model.entity.Merchant">
        UPDATE <include refid="tableName" />
        <set>
            <if test="id != null">id = #{id, jdbcType=BIGINT},</if>
            <if test="merchantName != null">merchant_name = #{merchantName, jdbcType=VARCHAR},</if>
            <if test="password != null">password = #{password, jdbcType=VARCHAR},</if>
            <if test="status != null">status = #{status, jdbcType=TINYINT},</if>
            <if test="productType != null">product_type = #{productType, jdbcType=TINYINT},</if>
            <if test="balance != null">balance = #{balance, jdbcType=DECIMAL},</if>
            <if test="totalRecharge != null">total_recharge = #{totalRecharge, jdbcType=DECIMAL},</if>
            <if test="phone != null">phone = #{phone, jdbcType=VARCHAR},</if>
            <if test="contacts != null">contacts = #{contacts, jdbcType=VARCHAR},</if>
            <if test="businessLicense != null">business_license = #{businessLicense, jdbcType=VARCHAR},</if>
            <if test="uscc != null">uscc = #{uscc, jdbcType=VARCHAR},</if>
            <if test="legalName != null">legal_name = #{legalName, jdbcType=VARCHAR},</if>
            <if test="idCard != null">id_card = #{idCard, jdbcType=VARCHAR},</if>
            <if test="idCardFront != null">id_card_front = #{idCardFront, jdbcType=VARCHAR},</if>
            <if test="idCardBack != null">id_card_back = #{idCardBack, jdbcType=VARCHAR},</if>
            <if test="lastIp != null">last_ip = #{lastIp, jdbcType=VARCHAR},</if>
            <if test="loginAt != null">login_at = #{loginAt, jdbcType=TIMESTAMP},</if>
            <if test="version != null">version = version + 1,</if>
            <if test="updatedBy != null">updated_by = #{updatedBy, jdbcType=BIGINT}</if>
        </set>
        WHERE id = #{id, jdbcType=BIGINT} AND version = #{version, jdbcType=INTEGER}
    </update>

    <!-- 商户端查询电影票订单列表 -->
    <select id="selectByOrderList" parameterType="com.vscing.model.dto.MerchantOrderListDto"
            resultType="com.vscing.model.vo.MerchantOrderListVo">
        SELECT
        `order`.id as orderId,
        `order`.merchant_id,
        `order`.created_at,
        `order`.status,
        `order`.order_sn,
        `order`.ext_order_sn,
        `order`.product_type,
        merchant.merchant_name,
        movie.name AS movieName,
        `order`.purchase_quantity,
        `order`.total_price,
        `order`.phone,
        `order`.hall_name,
        `order`.seat_info,
        `order`.ticket_code,
        cinema.province_name AS provinceName,
        cinema.city_name AS cityName,
        cinema.district_name AS districtName,
        cinema.`address` AS address
        FROM <include refid="orderTableName" /> `order`
        LEFT JOIN <include refid="tableName" /> merchant ON `order`.merchant_id = merchant.id
        LEFT JOIN <include refid="movieTableName" /> movie ON `order`.movie_id = movie.id
        LEFT JOIN <include refid="cinemaTableName" /> cinema ON `order`.cinema_id = cinema.id
        <where>
            <if test="merchantId != null">
                AND `order`.merchant_id = #{merchantId, jdbcType=BIGINT}
            </if>
            <if test="status != null and status != 0">
                AND `order`.status = #{status, jdbcType=TINYINT}
            </if>
            <if test="orderSn != null">
                AND `order`.order_sn LIKE CONCAT('%', #{orderSn, jdbcType=VARCHAR}, '%')
            </if>
            <if test="extOrderSn != null">
                AND `order`.ext_order_sn LIKE CONCAT('%', #{extOrderSn, jdbcType=VARCHAR}, '%')
            </if>
            <if test="phone != null">
                AND `order`.phone LIKE CONCAT('%', #{phone, jdbcType=VARCHAR}, '%')
            </if>
            <if test="startDate != null">
                AND `order`.created_at <![CDATA[ >= ]]> #{startDate, jdbcType=TIMESTAMP}
            </if>
            <if test="endDate != null">
                AND `order`.created_at <![CDATA[ <= ]]> #{endDate, jdbcType=TIMESTAMP}
            </if>
            <if test="productType != null and productType != 0">
                AND `order`.product_type = #{productType, jdbcType=TINYINT}
            </if>
            AND `order`.deleted_at IS NULL
        </where>
        ORDER BY `order`.created_at DESC
    </select>

    <!-- 商户端查询电影票订单列表 -->
    <select id="selectByOrderCount" resultType="com.vscing.model.vo.MerchantOrderCountVo">
        SELECT
        DATE(created_at) AS orderDate, -- 使用DATE函数获取日期部分，避免时间部分影响GROUP BY
        product_type,
        SUM(purchase_quantity) AS orderQuantity,
        SUM(total_price) AS orderAmount
        FROM <include refid="orderTableName" />
        <where>
            <if test="merchantId != null">
                AND merchant_id = #{merchantId, jdbcType=BIGINT}
            </if>
            AND status = 4
            <if test="startOrderDate != null">
                AND created_at <![CDATA[ >= ]]> #{startOrderDate, jdbcType=TIMESTAMP}
            </if>
            <if test="endOrderDate != null">
                AND created_at <![CDATA[ <= ]]> #{endOrderDate, jdbcType=TIMESTAMP}
            </if>
            <if test="productType != null and productType != 0">
                AND product_type = #{productType, jdbcType=TINYINT}
            </if>
            AND deleted_at IS NULL
        </where>
        GROUP BY orderDate, product_type -- 确保GROUP BY使用与SELECT一致的表达式
        ORDER BY orderDate DESC
    </select>

    <!-- 商户端查询会员卡商品订单列表 -->
    <select id="selectByVipOrderList" parameterType="com.vscing.model.dto.MerchantVipOrderListDto"
            resultType="com.vscing.model.vo.MerchantVipOrderListVo">
        SELECT
        vipOrder.`id`,
        vipOrder.merchant_id,
        vipOrder.created_at,
        vipOrder.`status`,
        vipOrder.order_sn,
        vipOrder.ext_order_sn,
        merchant.merchant_name,
        vipOrder.buy_num,
        vipOrder.total_price,
        vipOrder.phone,
        vipOrder.refund_status,
        vipOrder.vip_goods_name,
        vipOrder.vip_goods_type,
        vipOrder.card_list
        FROM <include refid="vipOrderTableName" /> vipOrder
        LEFT JOIN <include refid="tableName" /> merchant ON vipOrder.merchant_id = merchant.id
        <where>
            <if test="merchantId != null">
                AND vipOrder.merchant_id = #{merchantId, jdbcType=BIGINT}
            </if>
            <if test="status != null and status != 0">
                AND vipOrder.status = #{status, jdbcType=TINYINT}
            </if>
            <if test="refundStatus != null and status != 0">
                AND vipOrder.refund_status = #{refundStatus, jdbcType=TINYINT}
            </if>
            <if test="orderSn != null">
                AND vipOrder.order_sn LIKE CONCAT('%', #{orderSn, jdbcType=VARCHAR}, '%')
            </if>
            <if test="extOrderSn != null">
                AND vipOrder.ext_order_sn LIKE CONCAT('%', #{extOrderSn, jdbcType=VARCHAR}, '%')
            </if>
            <if test="vipGoodsType != null">
                AND vipOrder.vip_goods_type LIKE CONCAT('%', #{vipGoodsType, jdbcType=VARCHAR}, '%')
            </if>
            <if test="vipGoodsName != null">
                AND vipOrder.vip_goods_name LIKE CONCAT('%', #{vipGoodsName, jdbcType=VARCHAR}, '%')
            </if>
            <if test="phone != null">
                AND vipOrder.phone LIKE CONCAT('%', #{phone, jdbcType=VARCHAR}, '%')
            </if>
            <if test="startDate != null">
                AND vipOrder.created_at <![CDATA[ >= ]]> #{startDate, jdbcType=TIMESTAMP}
            </if>
            <if test="endDate != null">
                AND vipOrder.created_at <![CDATA[ <= ]]> #{endDate, jdbcType=TIMESTAMP}
            </if>
            AND vipOrder.deleted_at IS NULL
        </where>
        ORDER BY vipOrder.created_at DESC
    </select>

    <!-- 商户端查询会员卡商品订单列表 -->
    <select id="selectByVipOrderCount" resultType="com.vscing.model.vo.MerchantVipOrderCountVo">
        SELECT
        DATE(created_at) AS orderDate, -- 使用DATE函数获取日期部分，避免时间部分影响GROUP BY
        SUM(buy_num) AS orderQuantity,
        SUM(total_price) AS orderAmount
        FROM <include refid="vipOrderTableName" />
        <where>
            <if test="merchantId != null">
                AND merchant_id = #{merchantId, jdbcType=BIGINT}
            </if>
            AND status = 3
            <if test="startOrderDate != null">
                AND created_at <![CDATA[ >= ]]> #{startOrderDate, jdbcType=TIMESTAMP}
            </if>
            <if test="endOrderDate != null">
                AND created_at <![CDATA[ <= ]]> #{endOrderDate, jdbcType=TIMESTAMP}
            </if>
            AND deleted_at IS NULL
        </where>
        GROUP BY orderDate
        ORDER BY orderDate DESC
    </select>

</mapper>