<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vscing.model.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vscing.model.entity.Order">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="supplier_id" property="supplierId" jdbcType="BIGINT" />
        <result column="cinema_id" property="cinemaId" jdbcType="BIGINT" />
        <result column="movie_id" property="movieId" jdbcType="BIGINT" />
        <result column="show_id" property="showId" jdbcType="BIGINT" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="order_sn" property="orderSn" jdbcType="VARCHAR" />
        <result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
        <result column="refund_no" property="refundNo" jdbcType="VARCHAR" />
        <result column="supplier_order_sn" property="supplierOrderSn" jdbcType="VARCHAR" />
        <result column="ticket_code" property="ticketCode" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="order_type" property="orderType" jdbcType="TINYINT" />
        <result column="platform" property="platform" jdbcType="TINYINT" />
        <result column="payment_status" property="paymentStatus" jdbcType="TINYINT" />
        <result column="settle_status" property="settleStatus" jdbcType="TINYINT" />
        <result column="purchase_quantity" property="purchaseQuantity" jdbcType="INTEGER" />
        <result column="seat_info" property="seatInfo" jdbcType="VARCHAR" />
        <result column="seat_adjusted" property="seatAdjusted" jdbcType="TINYINT" />
        <result column="is_adjusted" property="isAdjusted" jdbcType="TINYINT" />
        <result column="total_price" property="totalPrice" jdbcType="DECIMAL" />
        <result column="official_price" property="officialPrice" jdbcType="DECIMAL" />
        <result column="settlement_price" property="settlementPrice" jdbcType="DECIMAL" />
        <result column="response_body" property="responseBody" jdbcType="VARCHAR" />
        <result column="memo" property="memo" jdbcType="VARCHAR" />
        <result column="stop_show_time" property="stopShowTime" jdbcType="TIMESTAMP" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="created_by" property="createdBy" jdbcType="BIGINT" />
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
        <result column="updated_by" property="updatedBy" jdbcType="BIGINT" />
        <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP" />
        <result column="deleted_by" property="deletedBy" jdbcType="BIGINT" />
    </resultMap>

    <!-- 定义一个SQL片段，用于指定表名 -->
    <sql id="tableName">
        vscing_order
    </sql>
    <sql id="orderDetailTableName">
        vscing_order_detail
    </sql>
    <sql id="userTableName">
        vscing_user
    </sql>
    <sql id="supplierTableName">
        vscing_supplier
    </sql>
    <sql id="cinemaTableName">
        vscing_cinema
    </sql>
    <sql id="movieTableName">
        vscing_movie
    </sql>
    <sql id="showTableName">
        vscing_show
    </sql>

    <!-- 公共查询条件 -->
    <sql id="commonWhereClause">
        <where>
            `order`.deleted_at IS NULL
            <if test="orderSn != null and orderSn.trim() != ''">
                AND `order`.order_sn LIKE CONCAT('%', #{orderSn}, '%')
            </if>
            <if test="status != null and status != ''">
                <foreach collection="status.split(',')" item="item" open="AND `order`.status IN (" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="orderType != null and orderType != 0">
                AND `order`.order_type = #{orderType}
            </if>
            <if test="platform != null and platform != 0">
                AND `order`.platform = #{platform}
            </if>
            <if test="startDate != null">
                AND `order`.created_at <![CDATA[ >= ]]> #{startDate, jdbcType=TIMESTAMP}
            </if>
            <if test="endDate != null">
                AND `order`.created_at <![CDATA[ <= ]]> #{endDate, jdbcType=TIMESTAMP}
            </if>
            <if test="phone != null and phone != ''">
                AND `order`.phone = #{phone}
            </if>
            <if test="cinemaName != null and cinemaName.trim().length() > 0">
                AND cinema.name LIKE CONCAT('%', #{cinemaName}, '%')
            </if>
            <if test="movieName != null and movieName.trim().length() > 0">
                AND movie.name LIKE CONCAT('%', #{movieName}, '%')
            </if>
            <if test="username != null and username.trim().length() > 0">
                AND `user`.username LIKE CONCAT('%', #{username}, '%')
            </if>
        </where>
    </sql>

    <!-- 根据 ID 查询 -->
    <select id="getOrderPrice" resultType="com.vscing.model.vo.OrderPriceVo">
        SELECT
            SUM(`order`.total_price) as totalPrice,
            SUM(`order`.official_price) as officialPrice,
            SUM(`order`.settlement_price) as settlementPrice
        FROM <include refid="tableName" /> `order`
        LEFT JOIN <include refid="userTableName" /> `user` ON `order`.user_id = `user`.id
        LEFT JOIN <include refid="supplierTableName" /> supplier ON `order`.supplier_id = supplier.id
        LEFT JOIN <include refid="cinemaTableName" /> cinema ON `order`.cinema_id = cinema.id
        LEFT JOIN <include refid="movieTableName" /> movie ON `order`.movie_id = movie.id
        LEFT JOIN <include refid="showTableName" /> `show` ON `order`.show_id = `show`.id
        <include refid="commonWhereClause" />
    </select>

    <!-- 查询列表 -->
    <select id="getList" resultType="com.vscing.model.vo.OrderVo">
        SELECT
        `order`.*,
        `user`.username AS username,
        supplier.name AS supplierName,
        cinema.name AS cinemaName,
        cinema.province_id AS provinceId,
        cinema.province_name AS provinceName,
        cinema.city_id AS cityId,
        cinema.city_name AS cityName,
        cinema.district_id AS districtId,
        cinema.district_name AS districtName,
        cinema.address AS address,
        movie.name AS movieName,
        movie.language AS `language`,
        movie.movie_type AS movieType,
        `show`.show_time AS showTime,
        `show`.stop_sell_time AS stopSellTime,
        `show`.duration AS duration,
        `show`.hall_name AS hallName
        FROM <include refid="tableName" /> `order`
        LEFT JOIN <include refid="userTableName" /> `user` ON `order`.user_id = `user`.id
        LEFT JOIN <include refid="supplierTableName" /> supplier ON `order`.supplier_id = supplier.id
        LEFT JOIN <include refid="cinemaTableName" /> cinema ON `order`.cinema_id = cinema.id
        LEFT JOIN <include refid="movieTableName" /> movie ON `order`.movie_id = movie.id
        LEFT JOIN <include refid="showTableName" /> `show` ON `order`.show_id = `show`.id
        <include refid="commonWhereClause" />
        ORDER BY `order`.created_at DESC
    </select>

    <!-- 查询小程序我的订单列表 -->
    <select id="getApiList" resultType="com.vscing.model.vo.OrderApiListVo">
        SELECT
        `order`.id,
        `order`.status,
        `order`.purchase_quantity AS purchaseQuantity,
        `order`.total_price as totalPrice,
        `order`.stop_show_time AS stopShowTime,
        `order`.created_at as createdAt,
        `order`.updated_at as updatedAt,
        cinema.name AS cinemaName,
        movie.name AS movieName,
        movie.poster_url AS posterUrl,
        `show`.hall_name AS hallName,
        `show`.show_time AS showTime
        FROM <include refid="tableName" /> `order`
        LEFT JOIN <include refid="userTableName" /> `user` ON `order`.user_id = `user`.id
        LEFT JOIN <include refid="supplierTableName" /> supplier ON `order`.supplier_id = supplier.id
        LEFT JOIN <include refid="cinemaTableName" /> cinema ON `order`.cinema_id = cinema.id
        LEFT JOIN <include refid="movieTableName" /> movie ON `order`.movie_id = movie.id
        LEFT JOIN <include refid="showTableName" /> `show` ON `order`.show_id = `show`.id
        <where>
            <if test="userId != null">
                AND `user`.id = #{userId}
            </if>
            <if test="platform != null">
                AND `order`.platform = #{platform}
            </if>
            <if test="status != null and status != ''">
                <foreach collection="status.split(',')" item="item" open="AND `order`.status IN (" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            AND `order`.order_type = 1
            AND `order`.deleted_at IS NULL
        </where>
        ORDER BY `order`.created_at DESC
    </select>

    <!-- 查询小程序我的订单详情 -->
    <select id="getApiDetails" parameterType="map" resultType="com.vscing.model.vo.OrderApiDetailsVo">
        SELECT
        `order`.id,
        `order`.order_sn AS orderSn,
        `order`.phone,
        `order`.status,
        `order`.purchase_quantity AS purchaseQuantity,
        `order`.seat_info AS seatInfo,
        `order`.ticket_code AS ticketCode,
        `order`.total_price AS totalPrice,
        `order`.official_price AS officialPrice,
        `order`.stop_show_time AS stopShowTime,
        `order`.created_at AS createdAt,
        cinema.name AS cinemaName,
        cinema.province_name AS provinceName,
        cinema.city_name AS cityName,
        cinema.district_name AS districtName,
        cinema.address,
        cinema.lng,
        cinema.lat,
        cinema.phone AS cinemaPhone,
        movie.name AS movieName,
        movie.poster_url AS posterUrl,
        `show`.hall_name AS hallName,
        `show`.duration,
        `show`.show_time AS showTime,
        `show`.show_time AS showDate,
        `show`.show_version_type AS showVersionType,
        `show`.stop_sell_time AS stopSellTime
        FROM <include refid="tableName" /> `order`
        LEFT JOIN <include refid="cinemaTableName" /> cinema ON `order`.cinema_id = cinema.id
        LEFT JOIN <include refid="movieTableName" /> movie ON `order`.movie_id = movie.id
        LEFT JOIN <include refid="showTableName" /> `show` ON `order`.show_id = `show`.id
        <where>
            <if test="id != null">
                AND `order`.id = #{id}
            </if>
            <if test="userId != null">
                AND `order`.user_id = #{userId}
            </if>
            AND `order`.deleted_at IS NULL
        </where>
        LIMIT 1
    </select>

    <!-- 定时更新待支付订单状态 -->
    <update id="cancelPendingPayments">
        UPDATE <include refid="tableName" /> SET status = 5
        WHERE status = 1 AND DATE_ADD(created_at, INTERVAL 10 MINUTE) &lt; CURRENT_TIMESTAMP;
    </update>

    <!-- 查询待出票订单列表 -->
    <select id="getPendingTicketOrders" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" />
        WHERE status = 3 AND DATE_ADD(updated_at, INTERVAL 3 MINUTE) &lt; CURRENT_TIMESTAMP;
    </select>

    <!-- 根据 ID 查询 -->
    <select id="selectById" parameterType="long" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" /> WHERE id = #{id, jdbcType=BIGINT} and deleted_at IS NULL
    </select>

    <!-- 根据 ID 查询订单编辑信息 -->
    <select id="selectEditById" parameterType="long" resultType="com.vscing.model.vo.OrderDetailVo">
        SELECT
        `order`.*,
        `user`.username AS username,
        `user`.source AS userSource,
        cinema.province_id AS provinceId,
        cinema.province_name AS provinceName,
        cinema.city_id AS cityId,
        cinema.city_name AS cityName,
        cinema.district_id AS districtId,
        cinema.district_name AS districtName,
        `show`.show_time AS showTime
        FROM <include refid="tableName" /> `order`
        LEFT JOIN <include refid="userTableName" /> `user` ON `order`.user_id = `user`.id
        LEFT JOIN <include refid="cinemaTableName" /> cinema ON `order`.cinema_id = cinema.id
        LEFT JOIN <include refid="showTableName" /> `show` ON `order`.show_id = `show`.id
        WHERE `order`.id = #{id, jdbcType=BIGINT} and `order`.deleted_at IS NULL
    </select>

    <!-- 根据 order_sn 查询订单信息 -->
    <select id="selectByOrderSn" parameterType="String" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" />
        WHERE order_sn = #{orderSn, jdbcType=BIGINT} and status > 1 and deleted_at IS NULL
    </select>

    <!-- 插入信息 -->
    <insert id="insert" parameterType="com.vscing.model.entity.Order">
        INSERT INTO <include refid="tableName" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="supplierId != null">supplier_id,</if>
            <if test="cinemaId != null">cinema_id,</if>
            <if test="movieId != null">movie_id,</if>
            <if test="showId != null">show_id,</if>
            <if test="phone != null">phone,</if>
            <if test="orderSn != null">order_sn,</if>
            <if test="tradeNo != null">trade_no,</if>
            <if test="refundNo != null">refund_no,</if>
            <if test="supplierOrderSn != null">supplier_order_sn,</if>
            <if test="ticketCode != null">ticket_code,</if>
            <if test="status != null">status,</if>
            <if test="orderType != null">order_type,</if>
            <if test="platform != null">platform,</if>
            <if test="paymentStatus != null">payment_status,</if>
            <if test="settleStatus != null">settle_status,</if>
            <if test="purchaseQuantity != null">purchase_quantity,</if>
            <if test="seatInfo != null">seat_info,</if>
            <if test="seatAdjusted != null">seat_adjusted,</if>
            <if test="isAdjusted != null">is_adjusted,</if>
            <if test="totalPrice != null">total_price,</if>
            <if test="officialPrice != null">official_price,</if>
            <if test="settlementPrice != null">settlement_price,</if>
            <if test="memo != null">memo,</if>
            <if test="stopShowTime != null">stop_show_time,</if>
            <if test="createdBy != null">created_by</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id, jdbcType=BIGINT},</if>
            <if test="userId != null">#{userId, jdbcType=BIGINT},</if>
            <if test="supplierId != null">#{supplierId, jdbcType=BIGINT},</if>
            <if test="cinemaId != null">#{cinemaId, jdbcType=BIGINT},</if>
            <if test="movieId != null">#{movieId, jdbcType=BIGINT},</if>
            <if test="showId != null">#{showId, jdbcType=BIGINT},</if>
            <if test="phone != null">#{phone, jdbcType=VARCHAR},</if>
            <if test="orderSn != null">#{orderSn, jdbcType=VARCHAR},</if>
            <if test="tradeNo != null">#{tradeNo, jdbcType=VARCHAR},</if>
            <if test="refundNo != null">#{refundNo, jdbcType=VARCHAR},</if>
            <if test="supplierOrderSn != null">#{supplierOrderSn, jdbcType=VARCHAR},</if>
            <if test="ticketCode != null">#{ticketCode, jdbcType=VARCHAR},</if>
            <if test="status != null">#{status, jdbcType=TINYINT},</if>
            <if test="orderType != null">#{orderType, jdbcType=TINYINT},</if>
            <if test="platform != null">#{platform, jdbcType=TINYINT},</if>
            <if test="paymentStatus != null">#{paymentStatus, jdbcType=TINYINT},</if>
            <if test="settleStatus != null">#{settleStatus, jdbcType=TINYINT},</if>
            <if test="purchaseQuantity != null">#{purchaseQuantity, jdbcType=INTEGER},</if>
            <if test="seatInfo != null">#{seatInfo, jdbcType=VARCHAR},</if>
            <if test="seatAdjusted != null">#{seatAdjusted, jdbcType=TINYINT},</if>
            <if test="isAdjusted != null">#{isAdjusted, jdbcType=TINYINT},</if>
            <if test="totalPrice != null">#{totalPrice, jdbcType=DECIMAL},</if>
            <if test="officialPrice != null">#{officialPrice, jdbcType=DECIMAL},</if>
            <if test="settlementPrice != null">#{settlementPrice, jdbcType=DECIMAL},</if>
            <if test="memo != null">#{memo, jdbcType=VARCHAR},</if>
            <if test="stopShowTime != null">#{stopShowTime, jdbcType=TIMESTAMP},</if>
            <if test="createdBy != null">#{createdBy, jdbcType=BIGINT}</if>
        </trim>
    </insert>

    <!-- 更新信息 -->
    <update id="update" parameterType="com.vscing.model.entity.Order">
        UPDATE <include refid="tableName" />
        <set>
            <if test="userId != null">user_id = #{userId, jdbcType=BIGINT},</if>
            <if test="supplierId != null">supplier_id = #{supplierId, jdbcType=BIGINT},</if>
            <if test="cinemaId != null">cinema_id = #{cinemaId, jdbcType=BIGINT},</if>
            <if test="movieId != null">movie_id = #{movieId, jdbcType=BIGINT},</if>
            <if test="showId != null">show_id = #{showId, jdbcType=BIGINT},</if>
            <if test="phone != null">phone = #{phone, jdbcType=VARCHAR},</if>
            <if test="orderSn != null">order_sn = #{orderSn, jdbcType=VARCHAR},</if>
            <if test="tradeNo != null">trade_no = #{tradeNo, jdbcType=VARCHAR},</if>
            <if test="refundNo != null">refund_no = #{refundNo, jdbcType=VARCHAR},</if>
            <if test="supplierOrderSn != null">supplier_order_sn = #{supplierOrderSn, jdbcType=VARCHAR},</if>
            <if test="ticketCode != null">ticket_code = #{ticketCode, jdbcType=VARCHAR},</if>
            <if test="status != null">status = #{status, jdbcType=TINYINT},</if>
            <if test="orderType != null">order_type = #{orderType, jdbcType=TINYINT},</if>
            <if test="platform != null">platform = #{platform, jdbcType=TINYINT},</if>
            <if test="paymentStatus != null">payment_status = #{paymentStatus, jdbcType=TINYINT},</if>
            <if test="settleStatus != null">settle_status = #{settleStatus, jdbcType=TINYINT},</if>
            <if test="purchaseQuantity != null">purchase_quantity = #{purchaseQuantity, jdbcType=INTEGER},</if>
            <if test="seatInfo != null">seat_info = #{seatInfo, jdbcType=VARCHAR},</if>
            <if test="seatAdjusted != null">seat_adjusted = #{seatAdjusted, jdbcType=TINYINT},</if>
            <if test="isAdjusted != null">is_adjusted = #{isAdjusted, jdbcType=TINYINT},</if>
            <if test="totalPrice != null">total_price = #{totalPrice, jdbcType=DECIMAL},</if>
            <if test="officialPrice != null">official_price = #{officialPrice, jdbcType=DECIMAL},</if>
            <if test="settlementPrice != null">settlement_price = #{settlementPrice, jdbcType=DECIMAL},</if>
            <if test="responseBody != null">response_body = #{responseBody, jdbcType=VARCHAR},</if>
            <if test="memo != null">memo = #{memo, jdbcType=VARCHAR},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy, jdbcType=BIGINT}</if>
        </set>
        WHERE id = #{id, jdbcType=BIGINT}
    </update>

    <!-- 取消订单信息 -->
    <update id="updateStatus" parameterType="com.vscing.model.entity.Order">
        UPDATE <include refid="tableName" />
        <set>
            <if test="status != null">status = #{status, jdbcType=TINYINT}</if>
        </set>
        WHERE id = #{id, jdbcType=BIGINT} AND status = 1
    </update>

    <!-- 更新支付宝订单信息 -->
    <update id="updateAlipayOrder" parameterType="map">
        UPDATE <include refid="tableName" />
        SET status = 2, payment_status = 1
        WHERE order_sn = #{orderSn, jdbcType=VARCHAR} AND trade_no = #{tradeNo, jdbcType=VARCHAR}
    </update>

    <!-- 更新微信订单信息 -->
    <update id="updateWechatOrder" parameterType="map">
        UPDATE <include refid="tableName" />
        SET status = 2, payment_status = 1, trade_no = #{tradeNo, jdbcType=VARCHAR}
        WHERE order_sn = #{orderSn, jdbcType=VARCHAR}
    </update>

    <!-- 根据 ID 软删除 -->
    <update id="softDeleteById" parameterType="map">
        UPDATE <include refid="tableName" />
        SET deleted_at = NOW(),
        deleted_by = #{deleterId, jdbcType=BIGINT}
        WHERE id = #{id, jdbcType=BIGINT}
    </update>

    <!-- 检查是否存在已被占用的座位 -->
    <select id="checkOrderShowSeat" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1
            FROM <include refid="orderDetailTableName" /> od
            JOIN <include refid="tableName" /> o ON od.order_id = o.id
            WHERE o.status IN (1, 2, 3, 4)
            AND o.show_id = #{showId}
            AND od.tp_seat_id IN
            <foreach item="seatId" index="index" collection="seatIds"
                     open="(" separator="," close=")">
                #{seatId}
            </foreach>
        ) as existsOccupied
    </select>

</mapper>
