<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vscing.model.mapper.ShowAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vscing.model.entity.ShowArea">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="show_id" property="showId" jdbcType="BIGINT" />
        <result column="area" property="area" jdbcType="VARCHAR" />
        <result column="show_price" property="showPrice" jdbcType="DECIMAL" />
        <result column="user_price" property="userPrice" jdbcType="DECIMAL" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="created_by" property="createdBy" jdbcType="BIGINT" />
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
        <result column="updated_by" property="updatedBy" jdbcType="BIGINT" />
        <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP" />
        <result column="deleted_by" property="deletedBy" jdbcType="BIGINT" />
    </resultMap>

    <!-- 定义一个SQL片段，用于指定表名 -->
    <sql id="tableName">
        vscing_show_area
    </sql>
    <sql id="movieTableName">
        vscing_show
    </sql>

    <!-- 查询用户列表 -->
    <select id="getList" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" />
        <where>
            deleted_at IS NULL
            <if test="name != null">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
    </select>

    <!-- 根据 ID 查询 -->
    <select id="selectById" parameterType="long" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" /> WHERE id = #{id,jdbcType=BIGINT} and deleted_at IS NULL
    </select>

    <!-- 根据 show_id in () 查询 -->
    <select id="selectByShowIds" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" />
        WHERE show_id IN
        <foreach item="showId" collection="list" open="(" separator="," close=")">
            #{showId,jdbcType=BIGINT}
        </foreach>
        AND deleted_at IS NULL
    </select>

    <!-- 根据 show_id 和 areas in () 查询 -->
    <select id="selectByShowIdAreas" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" />
        WHERE
        show_id = #{showId,jdbcType=BIGINT}
        AND area IN
        <foreach item="area" collection="areas" open="(" separator="," close=")">
            #{area,jdbcType=VARCHAR}
        </foreach>
        AND deleted_at IS NULL
    </select>

    <!-- 插入信息 -->
    <insert id="insert" parameterType="com.vscing.model.entity.ShowArea">
        INSERT INTO <include refid="tableName" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="showId != null">show_id,</if>
            <if test="area != null">area,</if>
            <if test="showPrice != null">show_price,</if>
            <if test="userPrice != null">user_price,</if>
            <if test="createdBy != null">created_by</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id, jdbcType=BIGINT},</if>
            <if test="showId != null">#{showId, jdbcType=BIGINT},</if>
            <if test="area != null">#{area, jdbcType=VARCHAR},</if>
            <if test="showPrice != null">#{showPrice, jdbcType=DECIMAL},</if>
            <if test="userPrice != null">#{userPrice, jdbcType=DECIMAL},</if>
            <if test="createdBy != null">#{createdBy,jdbcType=BIGINT}</if>
        </trim>
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO <include refid="tableName" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="list[0].id != null">id,</if>
            <if test="list[0].showId != null">show_id,</if>
            <if test="list[0].area != null">area,</if>
            <if test="list[0].showPrice != null">show_price,</if>
            <if test="list[0].userPrice != null">user_price,</if>
            <if test="list[0].createdBy != null">created_by</if>
        </trim>
        VALUES
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix=")">
                <if test="item.id != null">#{item.id, jdbcType=BIGINT},</if>
                <if test="item.showId != null">#{item.showId, jdbcType=BIGINT},</if>
                <if test="item.area != null">#{item.area, jdbcType=VARCHAR},</if>
                <if test="item.showPrice != null">#{item.showPrice, jdbcType=DECIMAL},</if>
                <if test="item.userPrice != null">#{item.userPrice, jdbcType=DECIMAL},</if>
                <if test="item.createdBy != null">#{item.createdBy, jdbcType=BIGINT}</if>
            </trim>
        </foreach>
    </insert>

    <!-- 更新信息 -->
    <update id="update" parameterType="com.vscing.model.entity.ShowArea">
        UPDATE <include refid="tableName" />
        <set>
            <if test="area != null">area = #{area,jdbcType=VARCHAR},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy, jdbcType=BIGINT}</if>
        </set>
        WHERE id = #{id, jdbcType=BIGINT}
    </update>

    <!-- 根据 ID 软删除用户 -->
    <update id="softDeleteById" parameterType="map">
        UPDATE <include refid="tableName" />
        SET deleted_at = NOW(),
        deleted_by = #{deleterId, jdbcType=BIGINT}
        WHERE id = #{id, jdbcType=BIGINT}
    </update>

    <!-- 清空表 -->
    <delete id="truncateTable">
        TRUNCATE TABLE <include refid="tableName" />
    </delete>

</mapper>
