<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vscing.model.mapper.SupplierMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vscing.model.entity.Supplier">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="access_date" property="accessDate" jdbcType="TIMESTAMP" />
        <result column="config_accont" property="configAccont" jdbcType="VARCHAR" />
        <result column="config_key" property="configKey" jdbcType="VARCHAR" />
        <result column="config_id" property="configId" jdbcType="VARCHAR" />
        <result column="contacts" property="contacts" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="prepaid_amount" property="prepaidAmount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
        <result column="coopDesc" property="coopDesc" jdbcType="VARCHAR" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="created_by" property="createdBy" jdbcType="BIGINT" />
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
        <result column="updated_by" property="updatedBy" jdbcType="BIGINT" />
        <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP" />
        <result column="deleted_by" property="deletedBy" jdbcType="BIGINT" />
    </resultMap>

    <!-- 定义一个SQL片段，用于指定表名 -->
    <sql id="tableName">
        vscing_supplier
    </sql>

    <!-- 查询用户列表 -->
    <select id="getList" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" />
        <where>
            deleted_at IS NULL
            <if test="name != null">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>

    <!-- 根据 ID 查询 -->
    <select id="selectById" parameterType="long" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" /> WHERE id = #{id, jdbcType=BIGINT} and deleted_at IS NULL
    </select>

    <!-- 插入信息 -->
    <insert id="insert" parameterType="com.vscing.model.entity.Supplier">
        INSERT INTO <include refid="tableName" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="status != null">status,</if>
            <if test="accessDate != null">access_date,</if>
            <if test="configAccont != null">config_accont,</if>
            <if test="configKey != null">config_key,</if>
            <if test="configId != null">config_id,</if>
            <if test="contacts != null">contacts,</if>
            <if test="phone != null">phone,</if>
            <if test="prepaidAmount != null">prepaid_amount,</if>
            <if test="coopDesc != null">coop_desc</if>
            <if test="createdBy != null">created_by</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id, jdbcType=BIGINT},</if>
            <if test="name != null">#{name, jdbcType=VARCHAR},</if>
            <if test="status != null">#{status, jdbcType=TINYINT},</if>
            <if test="accessDate != null">#{accessDate, jdbcType=TIMESTAMP},</if>
            <if test="configAccont != null">#{configAccont, jdbcType=VARCHAR},</if>
            <if test="configKey != null">#{configKey, jdbcType=VARCHAR},</if>
            <if test="configId != null">#{configId, jdbcType=VARCHAR},</if>
            <if test="contacts != null">#{contacts, jdbcType=VARCHAR},</if>
            <if test="phone != null">#{phone, jdbcType=VARCHAR},</if>
            <if test="prepaidAmount != null">#{prepaidAmount, jdbcType=DECIMAL},</if>
            <if test="coopDesc != null">#{coopDesc, jdbcType=VARCHAR},</if>
            <if test="createdBy != null">#{createdBy, jdbcType=BIGINT}</if>
        </trim>
    </insert>

    <!-- 更新信息 -->
    <update id="update" parameterType="com.vscing.model.entity.Supplier">
        UPDATE <include refid="tableName" />
        <set>
            <if test="name != null">name = #{name, jdbcType=VARCHAR},</if>
            <if test="status != null">status = #{status, jdbcType="TINYINT"},</if>
            <if test="accessDate != null">access_date = #{accessDate, jdbcType=TIMESTAMP},</if>
            <if test="configAccont != null">config_accont = #{configAccont, jdbcType=VARCHAR},</if>
            <if test="configKey != null">config_key = #{configKey, jdbcType=VARCHAR},</if>
            <if test="configId != null">config_id = #{configId, jdbcType=VARCHAR},</if>
            <if test="contacts != null">contacts = #{contacts, jdbcType=VARCHAR},</if>
            <if test="phone != null">phone = #{phone, jdbcType=VARCHAR},</if>
            <if test="prepaidAmount != null">prepaid_amount = #{prepaidAmount, jdbcType=DECIMAL},</if>
            <if test="coopDesc != null">coop_desc = #{coopDesc, jdbcType=VARCHAR},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy, jdbcType=BIGINT}</if>
        </set>
        WHERE id = #{id, jdbcType=BIGINT}
    </update>

    <!-- 根据 ID 软删除 -->
    <!-- 根据 ID 软删除用户 -->
    <update id="softDeleteById" parameterType="map">
        UPDATE <include refid="tableName" />
        SET deleted_at = NOW(),
        deleted_by = #{deleterId, jdbcType=BIGINT}
        WHERE id = #{id, jdbcType=BIGINT}
    </update>

</mapper>
