<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vscing.model.mapper.UserWithdrawMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vscing.model.entity.UserWithdraw">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="platform" property="platform" jdbcType="TINYINT" />
        <result column="withdraw_amount" property="withdrawAmount" jdbcType="DECIMAL" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="withdraw_sn" property="withdrawSn" jdbcType="VARCHAR" />
        <result column="transfer_no" property="transferNo" jdbcType="VARCHAR" />
        <result column="withdraw_status" property="withdrawStatus" jdbcType="TINYINT" />
        <result column="reject_reason" property="rejectReason" jdbcType="VARCHAR" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="created_by" property="createdBy" jdbcType="BIGINT" />
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
        <result column="updated_by" property="updatedBy" jdbcType="BIGINT" />
        <result column="deleted_at" property="deletedAt" jdbcType="TIMESTAMP" />
        <result column="deleted_by" property="deletedBy" jdbcType="BIGINT" />
    </resultMap>

    <!-- 定义一个SQL片段，用于指定表名 -->
    <sql id="tableName">
        vscing_user_withdraw
    </sql>
    <sql id="userTableName">
        vscing_user
    </sql>

    <!-- 管理后台佣金提现列表 -->
    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" /> WHERE id = #{id,jdbcType=BIGINT} and deleted_at IS NULL
    </select>

    <!-- 管理后台佣金提现列表 -->
    <select id="getList" resultType="com.vscing.model.vo.UserWithdrawListVo">
        SELECT uw.id, uw.status, u.phone, uw.withdraw_amount, uw.created_at, uw.platform, uw.reject_reason, uw.updated_at
        FROM <include refid="tableName" /> uw
        INNER JOIN <include refid="userTableName" /> u ON u.id = uw.user_id
        <where>
            <if test="phone != null">
                AND u.phone LIKE CONCAT('%', #{phone}, '%')
            </if>
            <if test="status != null and status != 0">
                AND uw.status = #{status}
            </if>
            <if test="platform != null and platform != 0">
                AND uw.platform = #{platform}
            </if>
            AND uw.deleted_at IS NULL
        </where>
        order by uw.status asc, uw.created_at desc
    </select>

    <!-- 管理后台佣金提现详情 -->
    <select id="getUserWithdrawAmount" resultType="com.vscing.model.vo.UserWithdrawAmountVo">
        SELECT status, SUM(withdraw_amount) AS withdrawAmount
        FROM <include refid="tableName" />
        <where>
            deleted_at IS NULL
        </where>
        GROUP BY status
    </select>

    <!-- 管理后台佣金提现审核 -->
    <update id="approve" parameterType="map">
        UPDATE <include refid="tableName" />
        <set>
            <if test="status != null">status = #{status, jdbcType=TINYINT},</if>
            <if test="withdrawSn != null">withdraw_sn = #{withdrawSn, jdbcType=VARCHAR},</if>
            <if test="withdrawStatus != null">withdraw_status = #{withdrawStatus, jdbcType=TINYINT},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason, jdbcType=VARCHAR},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy, jdbcType=BIGINT}</if>
        </set>
        WHERE id = #{id, jdbcType=BIGINT}
    </update>

    <!-- 公用佣金提现详情 -->
    <select id="selectByWithdrawSn" resultMap="BaseResultMap">
        SELECT * FROM <include refid="tableName" />
        WHERE withdraw_sn = #{withdrawSn, jdbcType=VARCHAR} and deleted_at IS NULL
        Limit 1
    </select>

    <!-- 公用修改提现信息 -->
    <update id="updateTransfer" parameterType="com.vscing.model.entity.UserWithdraw">
        UPDATE <include refid="tableName" />
        <set>
            <if test="withdrawSn != null">withdraw_sn = #{withdrawSn, jdbcType=TINYINT},</if>
            <if test="withdrawStatus != null">withdraw_status = #{withdrawStatus, jdbcType=TINYINT},</if>
            <if test="transferNo != null">transfer_no = #{transferNo, jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{id, jdbcType=BIGINT}
    </update>

    <!-- 用户佣金提现详情 -->
    <select id="selectApiAmount" resultType="com.vscing.model.vo.UserWithdrawAmountVo">
        SELECT status, SUM(withdraw_amount) AS withdrawAmount
        FROM <include refid="tableName" />
        <where>
            user_id = #{userId}
            AND deleted_at IS NULL
        </where>
        GROUP BY status
    </select>

    <!-- 用户佣金提现列表查询 -->
    <select id="selectApiList" resultType="com.vscing.model.vo.UserWithdrawApiListVo">
        SELECT id, status, reject_reason, withdraw_amount, withdraw_status, platform, created_at, updated_at
        FROM <include refid="tableName" />
        <where>
            user_id = #{userId}
            AND deleted_at IS NULL
        </where>
        order by updated_at desc, created_at desc
    </select>

    <!-- 用户提现佣金 -->
    <insert id="insertInitiateWithdraw" parameterType="com.vscing.model.entity.UserWithdraw">
        INSERT INTO <include refid="tableName" />
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="platform != null">platform,</if>
            <if test="withdrawAmount != null">withdraw_amount</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id, jdbcType=BIGINT},</if>
            <if test="userId != null">#{userId, jdbcType=BIGINT},</if>
            <if test="platform != null">#{platform, jdbcType=TINYINT},</if>
            <if test="withdrawAmount != null">#{withdrawAmount, jdbcType=DECIMAL}</if>
        </trim>
    </insert>

</mapper>